
	  <div class="panel panel-primary">
		    <div class="panel-heading">
		      	{{title}}
		    </div>
		    <div class="panel-body">
            <div id="mycarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="images/lapp2.jpg" alt="desktops" class="img-responsive">
                       <div class="carousel-caption">
                          <h3>VARALAKSHMI PUTTASWAMY</h3>
                          <h4>Front-end/Angular Developer</h4>
                          <div class="social-icons">
                                  <a href="https://www.facebook.com" class="btn btn-round btn-clear btn-facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                  </a>
                                  <a href="https://www.twitter.com" class="btn btn-round btn-clear btn-twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                  </a>
                                  <a href="https://www.google.com" class="btn btn-round btn-clear btn-google">
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                  </a>
                                  <a href="https://www.linkedin.com" class="btn btn-round  btn-clear btn-linkedin">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                  </a> 
                          </div>
                       </div>
                    </div>
                </div>
            </div>
		    </div>
	  </div>   